html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  line-height: 1.5em;
  margin: 1.5em;
  max-width: 47em;
  color: #222;
  font-size: 0.75rem;
  font-family: "Libre Baskerville", serif;
}

img {
  margin: 1.5em;
  padding: 1.5em;
  display: block;;
  width: 100%;
  border: 1.5px solid #1e7c74;
  border-radius: 5px;
  max-width: 47em;
}

article {
  background-color: #fff;
  margin: 1.5em;
}

header {
  background-color: #259f95;
  color: #fff;
  border: 1px solid #259f95;
  border-radius: 5px;
  padding: 1.5em;
  max-width: 47em;
  display: block;
  text-align: left;
}

.chapter-num {
  font-style: italic;
  font-size: 1rem;
  display: block;
}

h1 {
  font-size: 1.5rem;
}
